.dropdown-item{
    width: 100%;
    border: 1px solid #113f67;
    border-radius: 5px;
    margin-bottom: 15px;
    .header-dropdown-item{
        padding: 20px;
        background-color: #113f67;
        display: flex;
        justify-content: space-between;
        .h3-dropdown{
            color: #e0ffcd;
        }
        .img-arrow{
            cursor: pointer;
            
        }
    }
    .content-dropdown-item{
        // padding: 10px;
         opacity: 0;
        //     // transition: all 0.5s ease;
             overflow: hidden;
             height: 0px;
        transition: all 0.2s ease;

    }
    }

    .content-dropdown-item-active{
        padding: 20px;
        
        // transition: all 0.5s ease;
        overflow: auto;
        height: auto;
        transition: all 0.3s ease;
    
    }