.faq-container{
margin: 50px 0;
.faq-h2{
    text-align: center;
    font-size: 50px;
    margin-bottom: 40px;
}
    .dropdown-box{
    width: 70%;
    margin: 0 auto;
    
        .dropdown-item{
        width: 100%;
        border: 1px solid #333;
        border-radius: 5px;
        .header-dropdown-item{
            padding: 10px;
            background-color: #333;
            display: flex;
            justify-content: space-between;
            .h3-dropdown{
                color: #fff;
            }
            .img-arrow{
                cursor: pointer;
            }
        }
        .content-dropdown-item{
            padding: 10px;
            opacity: 0;
            transition: all 0.5s ease;

        }
        }
    }
}