.nav{
    display: flex;
    justify-content: center;
    height: 80px;
    .nav-container{
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .img-nav{
            width: 120px;
        }
        .link-nav{
            text-decoration: none;
            color: #192B5A;
            margin-left: 20px;
            font-size: 13px;
        }
    }
}