form{
    padding: 50px 0;
    width: 100%;
    .h2-contact{
        text-align: center;
        font-size: 50px;
        color: #113f67;
        @media (max-width: 756px) {
            font-size: 40px;
           
            }
    }
    .form-box{
        width: 40%;
        margin: 0 auto;
        @media (max-width: 756px) {
            width: 70%;
           
            }
        .div-input{
            display: flex;
            flex-direction: column;
            input{
                padding: 10px 0;
                border: none;
                border-bottom: 1px solid #113f67;
                margin-bottom: 10px;
                &:focus{
                    outline: none;
                }
                &::placeholder{
                    color: #113f67;
                    text-transform: uppercase;
                }
            }
            textarea{
                padding: 10px 0;
                border: none;
                border-bottom: 1px solid #113f67;
                margin-bottom: 10px;
                &:focus{
                    outline: none;
                }
                &::placeholder{
                    color: #113f67;
                    text-transform: uppercase;
                }
            }
        }
        .btn{
            margin-top: 10px;
            width: 100%;
            padding: 10px;
            background-color: #113f67;
            border:1px solid #113f67;
            color: #e0ffcd;
            text-transform: uppercase;
            cursor: pointer;
        }
    }
}
.p-error{
    font-size: 11px;
    color: red;
}