.header-container{
    background: url('../../../public/bg-header.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .header-box-describe{
        // border: 1px solid #000;
        width: 50%;
        .h1-header{
            font-size: 80px;
            
            margin: 0 auto;
            color: #fff;
            margin-bottom: 25px;
        }
        .p-header{
            color: #fff;
            font-size: 20px;
            margin-bottom: 25px;
        }
        .button-header{
            background-color: #333;
            border: 1px solid #333;
            padding: 15px 20px;
            color: #fff;
            border-radius: 10px;
            font-size: 15px;
            cursor: pointer;
            transition: all 0.3s ease-in ;
            &:hover{
                background-color: #fff;
                border: 1px solid #fff;
                color: #333;
                transition: all 0.3s ease-in ;
            }
        }
    }
}